<div *ngIf="viewMode; else editable">
  <div *ngIf="currentClimate.name">
    <h4>Climate</h4>
    <div>
      <label><strong>name:</strong></label> {{ currentClimate.name }}
    </div>
    <div>
      <label><strong>averageTemp:</strong></label>
      {{ currentClimate.averageTemp }}
    </div>
    <div>
      <label><strong>humidity:</strong></label>
      {{ currentClimate.humidity}}
    </div>
    <div>
      <label><strong>poster:</strong></label>
      {{ currentClimate.user.name}}
    </div>
    <a *ngIf="editCheck()"
      class="badge badge-warning"
      routerLink="/climates/{{ currentClimate._id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentClimate">
    <br />
    <p>Please click on a climate...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentClimate.name" class="edit-form">
    <h4>climate</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentClimate.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="averageTemp">averageTemp</label>
        <input
          type="text"
          class="form-control"
          id="averageTemp"
          [(ngModel)]="currentClimate.averageTemp"
          name="averageTemp"
        />
      </div>
      <div class="form-group">
        <label for="humidity">humidity</label>
        <input
          type="text"
          class="form-control"
          id="humidity"
          [(ngModel)]="currentClimate.humidity"
          name="humidity"
        />
        </div>
    </form>
    <button *ngIf="editCheck()" class="badge badge-danger mr-2" (click)="deleteClimate()">
      Delete
    </button>
    <button
    *ngIf="editCheck()"
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateClimate()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentClimate.name">
    <br />
    <p>Cannot access this climate...</p>
  </div>
</ng-template>