<div *ngIf="viewMode; else editable">
  <div *ngIf="currentPlant.name">
    <h4>Plant</h4>
    <img src="{{currentPlant.imageLink}}">
    <div>
      <label><strong>name:</strong></label> {{ currentPlant.name }}
    </div>
    <div>
      <label><strong>description:</strong></label>
      {{ currentPlant.description }}
    </div>
    <div>
      <label><strong>family:</strong></label>
      {{ currentPlant.family}}
    </div>
    <div>
      <label><strong>climate:</strong></label>
      {{ climateName }}
    </div>
        <div>
      <label><strong>poster:</strong></label>
      {{ currentPlant.user.name}}
    </div>
    <a *ngIf="loginCheck() && editCheck()" class="badge badge-warning" routerLink="/plants/{{ currentPlant._id }}">
      Edit
    </a>
  </div>
  <div *ngIf="!currentPlant">
    <br />
    <p>Please click on a plant...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentPlant.name" class="edit-form">
    <h4>plant</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="currentPlant.name" name="name" />
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="currentPlant.description"
          name="description" />
      </div>
      <div class="form-group">
        <label for="family">family</label>
        <input type="text" class="form-control" id="family" [(ngModel)]="currentPlant.family" name="family" />
      </div>
      <div class="form-group">
        <label>climate: </label>
        <select id="climateSelector" name="_id" class="dropdownclimate" style="width:100%">
          <option *ngFor="let climate of climates" value="{{climate._id}}">{{climate.name}}</option>
        </select>
      </div>
            <div class="form-group">
        <label for="imageLink">imageLink</label>
        <input type="text" class="form-control" id="imageLink" [(ngModel)]="currentPlant.imageLink" name="imageLink" />
      </div>
            <div class="form-group">
        <label for="sunNeed">sunNeed</label>
        <input type="text" class="form-control" id="sunNeed" [(ngModel)]="currentPlant.sunNeed" name="sunNeed" />
      </div>
            <div class="form-group">
        <label for="waterNeed">waterNeed</label>
        <input type="text" class="form-control" id="waterNeed" [(ngModel)]="currentPlant.waterNeed" name="waterNeed" />
      </div>
    </form>
    <button *ngIf="editCheck()" class="badge badge-danger mr-2" (click)="deletePlant()">
      Delete
    </button>
    <button *ngIf="editCheck()" type="submit" class="badge badge-success mb-2" (click)="updatePlant()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentPlant.name">
    <br />
    <p>Cannot access this climate...</p>
  </div>
</ng-template>
