<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form #threadForm="ngForm">
        <div class="form-group">
          <label for="title">title</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="currentThread.title" name="title" required/>
        </div>
        <div class="form-group">
          <label for="text">text</label>
          <input type="text" class="form-control" id="text" [(ngModel)]="currentThread.text" name="text" required/>
        </div>
        <div class="form-group">
          <label>plant: </label>
          <select id="climateSelector" [(ngModel)]="currentThread.plant" name="_id" class="dropdownclimate"
            style="width:100%" required>
            <option *ngFor="let plant of plants" value="{{plant._id}}">{{plant.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="imageLink">imageLink</label>
          <input type="text" class="form-control" id="imageLink" [(ngModel)]="currentThread.imageLink"
            name="imageLink" required/>
        </div>
      </form>
      <button *ngIf="loginCheck()" (click)="saveThread()" class="btn btn-success" [disabled]="!threadForm.form.valid">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Thread was submitted successfully!</h4>
      <button *ngIf="loginCheck()" class="btn btn-success" (click)="newThread()">Add</button>
    </div>
  </div>
</div>
