<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Plante!</h1>
    <p>
      Plante! is een website waarbij gebruikers meer informatie over hun nieuw gekochten kamerplanten kunnen vinden. 
      Hier wordt er informatie gedeeld over in wat voor klimaat de plant normaal staat, hoeveel zon de plant wilt en hoevaak deze water moet hebben. 
      Ook kunnen er voor planten specefiek "Threads" aangemaakt worden, waarbij gebruikers hun tips en tricks kunnen delen.<br><br>
      Wil jij ook toevoegingen maken aan deze toffe site? Maak dan snel een account aan!
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
      </div>
      <div class="card-body">
        <h5 class="card-title">Hein Crebolder</h5>
        <p class="card-text">
          Studentnummer: 2100247
        </p>
      </div>
    </div>
  </div>
  <h3>Entiteiten</h3>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <p>Thread</p>
      <ul>
        <li>id: objectId</li>
        <li>title: string</li>
        <li>text: string</li>
        <li>imageLink: string</li>
        <li>comment: Comment</li>
        <li>plant: Plant</li>
        <li>user: User</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <p>Comment</p>
      <ul>
        <li>id: objectId</li>
        <li>content: string</li>
        <li>reaction: Comment</li>
        <li>user: User</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <p>Plant</p>
      <ul>
        <li>id: objectId</li>
        <li>name: string</li>
        <li>description: string</li>
        <li>imageLink: string</li>
        <li>family: string</li>
        <li>climate: Climate</li>
        <li>waterNeed: string</li>
        <li>sunNeed: string</li>
        <li>user: User</li>
      </ul>
    </div>
        <div class="col-sm-12 col-md-3">
      <p>Climate</p>
      <ul>
        <li>id: objectId</li>
        <li>name: string</li>
        <li>averageTemp: string</li>
        <li>humidity: string</li>
        <li>user: User</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <img src="assets/images/erd.png" alt="..." />
    </div>
  </div>



</div>
