<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Plante!</a>
    <div class="navbar-nav mr-auto">

            <li class="nav-item">
        <a routerLink="info" class="nav-link">info</a>
      </li>
      <li class="nav-item">
        <a routerLink="climates" class="nav-link">Climates</a>
      </li>
      <li class="nav-item">
        <a routerLink="plants" class="nav-link">plants</a>
      </li>
      <li class="nav-item">
        <a routerLink="threads" class="nav-link">threads</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link">login</a>
      </li>
      <li class="nav-item">
        <a (click)="logOut()" routerLink="/" class="nav-link">log out</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
