<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form #climateForm="ngForm">
      <div class="form-group">
        <label for="name">name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="climate.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="averageTemp">averageTemperature</label>
        <input
          class="form-control"
          id="averageTemp"
          type="number"
          required
          [(ngModel)]="climate.averageTemp"
          name="averageTemp"
        />
      </div>
       <div class="form-group">
        <label for="humidity">humidity</label>
        <input
          class="form-control"
          id="humidity"
          type="number"
          required
          [(ngModel)]="climate.humidity"
          name="humidity"
        />
      </div>
    </form>
  
      <button *ngIf="loginCheck()" (click)="saveClimate()" type="submit" [disabled]="!climateForm.form.valid">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Climate was submitted successfully!</h4>
      <button *ngIf="loginCheck()" class="btn btn-success" (click)="newClimate()">Add</button>
    </div>
  </div>
</div>