<div class="list row">
  <div class="col-md-6">
    <button *ngIf="loginCheck()" routerLink="/plant/create" class="btn btn-success">create new plant</button>
    <h4>Plant List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let plant of plants; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePlant(plant, i)"
      >
        {{ plant.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-plant-detail
      [viewMode]="true"
      [currentPlant]="currentPlant"
    ></app-plant-detail>
  </div>
</div>
