<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form #plantForm="ngForm" (ngSubmit)="savePlant()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="plant.name" name="name" required />
        </div>
        <div class="form-group">
          <label for="description">description</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="plant.description" name="description" required/>
        </div>
        <div class="form-group">
          <label for="family">family</label>
          <input type="text" class="form-control" id="family" [(ngModel)]="plant.family" name="family" required/>
        </div>
        <div class="form-group">
          <label>climate: </label>
          <select id="climateSelector" [(ngModel)]="plant.climate" name="_id" class="dropdownclimate"
            style="width:100%" required>
            <option *ngFor="let climate of climates" value="{{climate._id}}">{{climate.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="imageLink">imageLink</label>
          <input type="text" class="form-control" id="imageLink" [(ngModel)]="plant.imageLink" name="imageLink" required/>
        </div>
        <div class="form-group">
          <label for="sunNeed">sunNeed</label>
          <input type="text" class="form-control" id="sunNeed" [(ngModel)]="plant.sunNeed" name="sunNeed" required/>
        </div>
        <div class="form-group">
          <label for="waterNeed">waterNeed</label>
          <input type="text" class="form-control" id="waterNeed" [(ngModel)]="plant.waterNeed" name="waterNeed" required/>
        </div>
      </form>
    <button *ngIf="loginCheck()" (click)="savePlant()" type="submit" [disabled]="!plantForm.form.valid">Submit</button>
  </div>
  <div *ngIf="submitted">
    <h4>Plant was submitted successfully!</h4>
    <button *ngIf="loginCheck()" class="btn btn-success" (click)="newPlant()">Add</button>
  </div>
</div>
</div>
