<div class="list row">
  <div class="col-md-6">
    <button *ngIf="loginCheck()" routerLink="/thread/create" class="btn btn-success">create new Thread</button>
    <h4>Thread List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let thread of threads; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveThread(thread, i)"
      >
        {{ thread.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-thread-detail
      [viewMode]="true"
      [currentThread]="currentThread"
    ></app-thread-detail>
  </div>
</div>
