<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input [(ngModel)]="signupUserData.name" name="name" type="text" placeholder="username"/>
      <input [(ngModel)]="signupUserData.password" name="password" type="password" placeholder="password" required/>
      <button (click)="signUpUser()" type="button">Sign up</button>
      <p class="message">
        Already registered?
        <a routerLink='/login' routerLinkActive="active">Log in</a>
      </p>
    </form>
  </div>
</div>

<div *ngIf="showResultBox">
    <div class="content login-page form login-form">
        <h4>{{displayresult.result}}</h4>
        <p>{{displayresult.message}}</p>
    </div>
</div>