<div *ngIf="viewMode; else editable">
  <div *ngIf="currentThread.title">
    <section class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">{{ currentThread.title }}</h1>
                        <p class="text-center"><span class="by">by</span> {{ currentThread.user.name}}</p><img class="img-fluid" src={{currentThread.imageLink}}>
                    </div>
                    <div class="text">
                        <p>{{ currentThread.text}}</p>   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <img src="{{currentThread.imageLink}}">
    <h2>{{ currentThread.title }}</h2>
    <div>
      <label><strong>plant:</strong></label>
      {{ currentThread.plant.name}}
    </div>
    <div>
      {{ currentThread.text }}
    </div>
    <div>
      <label><strong>poster:</strong></label>
      {{ currentThread.user.name}}
    </div> -->
    <Button *ngIf="editCheck()" class="badge badge-danger mr-2" routerLink="/threads/{{ currentThread._id }}">
      Edit
    </Button> 
  </div>
  <div *ngIf="!currentThread">
    <br />
    <p>Please click on a plant...</p>
  </div>
     
</div>
<ng-template #editable>
  <div *ngIf="currentThread.title" class="edit-form">
    <h4>Thread</h4>
    <form>
      <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="currentThread.title" name="title" />
      </div>
      <div class="form-group">
        <label for="text">text</label>
        <input type="text" class="form-control" id="text" [(ngModel)]="currentThread.text"
          name="text" rows="3" />
      </div>
      <div class="form-group">
        <label>plant: </label>
        <select id="climateSelector" [(ngModel)]="currentThread.plant._id" name="_id" class="dropdownclimate" style="width:100%">
          <option *ngFor="let plant of plants" value="{{plant._id}}">{{plant.name}}</option>
        </select>
      </div>
            <div class="form-group">
        <label for="imageLink">imageLink</label>
        <input type="text" class="form-control" id="imageLink" [(ngModel)]="currentThread.imageLink" name="imageLink" />
    </div>
    </form>
    <button *ngIf="editCheck()" class="badge badge-danger mr-2" (click)="deleteThread()">
      Delete
    </button>
    <button *ngIf="editCheck()" type="submit" class="badge badge-success mb-2" (click)="updateThread()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentThread.title">
    <br />
    <p>Cannot access this climate...</p>
  </div>
</ng-template>
