<div class="list row">
  <div class="col-md-6">
    <button *ngIf="loginCheck()" routerLink="/climate/create" class="btn btn-success">create new Climate</button>
    <h4>Climates List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let climate of climates; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveClimate(climate, i)"
      >
        {{ climate.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-climate-detail
      [viewMode]="true"
      [currentClimate]="currentClimate"
    ></app-climate-detail>
  </div>
</div>